{% extends 'layout.jinja2' %}
{% block body %}
    <h2 class="title is-2">업로드된 파일</h2>
    <p class="subtitle">총 {{ files|length }}개의 파일이 업로드되었습니다.</p>

    <div class="tags has-addons is-clickable" id="toggle">
        <span class="tag is-dark">업로드 상태</span>
        {% if flag is true %}
            <span class="tag is-success">켜짐</span>
        {% else %}
            <span class="tag is-danger">꺼짐</span>
        {% endif %}
    </div>

    {% for file in files %}
        <div class="box">
            <h3 class="title is-5">{{ file.name }}</h3>
            <ul>
                <li class="timestamp">{{ file.meta.created_at }}</li>
                <li>{{ file.meta.ip }}</li>
                <li title="{{ file.meta.user_agent }}">{{ file.meta.device }}</li>
                <li title="{{ file.size }}">{{ file.size|size_to_string }}</li>
            </ul>
            <hr />
            <div class="buttons">
                <a class="button is-primary" href="/download/{{ file.name }}">다운로드</a>
                <a class="button is-danger" href="/delete/{{ file.name }}">삭제</a>
            </div>
        </div>
    {% endfor %}

    <script>
        document.getElementById("toggle").addEventListener("click", () => {
            location.replace("/admin/toggle");
        });

        document.querySelectorAll("li.timestamp").forEach((e) => {
            let date = new Date(Number(e.innerText) * 1000);
            e.innerText = date.toLocaleString();
        });
    </script>
{% endblock %}