{% extends 'layout.jinja2' %}
{% block head %}
    <style>
        ul li:nth-child(2n - 1) {
            font-size: 1.25rem;
            font-weight: 700;
        }
    </style>
{% endblock %}
{% block body %}
    <h2 class="title is-2">업로드된 파일</h2>
    <p class="subtitle">총 {{ files|length }}개의 파일이 업로드되었습니다.</p>

    <div class="tags has-addons is-clickable" id="toggle">
        <span class="tag is-dark">업로드 상태</span>
        {% if flag is true %}
            <span class="tag is-success">켜짐</span>
        {% else %}
            <span class="tag is-danger">꺼짐</span>
        {% endif %}
    </div>

    {% set e = request.args.get("e") %}
    {% if e is not none %}
        <div class="notification is-danger">
            <p>{{ e }}</p>
        </div>
    {% endif %}

    {% if force_delete_required %}
        <div class="notification is-danger">
            <p><b>주의!</b> 업로드된 파일 개수와 등록된 파일의 개수가 다릅니다!</p>
            <p>수동으로 충돌 문제를 해결해야 정상적으로 업로드 기능을 사용할 수 있습니다.</p>
        </div>
    {% endif %}

    {% for file in files %}
        <div class="box" id="{{ file.id }}">
            <h3 class="title is-5">
                {% if file.database.share is true %}
                    <span class="tag is-success">공유</span>
                {% endif %}
                {{ file.database.filename }}
            </h3>
            <ul>
                <li>업로드 시간</li>
                <li class="timestamp">{{ file.database.created_at }}</li>
                <li>파일 업로드 IP</li>
                <li>{{ file.database.ip }}</li>
                <li>업로드 기기 정보</li>
                <li title="{{ file.database.user_agent }}">{{ file.database.device }}</li>
                <li>파일 크기</li>
                <li title="{{ file.database.size }}">{{ file.database.size|size_to_string }}</li>
                {% if file.database.share is true %}
                    <li>공유 시작 시간</li>
                    <li class="timestamp">{{ file.database.shared_at }}</li>
                {% endif %}
            </ul>
            <hr>
            <div class="buttons">
                <a class="button is-primary" href="/dl/{{ file.id }}">다운로드</a>
                <a class="button is-danger" href="/delete/{{ file.id }}">삭제</a>
                {% if file.database.share %}
                    <button class="button is-link link-share" data-path="/dl/{{ file.id }}">다운로드 링크 복사</button>
                    <a class="button is-danger" href="/share/stop/{{ file.id }}">공유 중단하기</a>
                {% else %}
                    <a class="button is-info" href="/share/start/{{ file.id }}">공유하기</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <script>
        document.getElementById("toggle").addEventListener("click", () => {
            location.replace("/admin/toggle");
        });

        document.querySelectorAll("li.timestamp").forEach((e) => {
            let date = new Date(Number(e.innerText) * 1000);
            e.innerText = date.toLocaleString();
        });

        document.querySelectorAll("button.link-share").forEach((e) => {
            e.addEventListener("click", (event) => {
                const url = location.origin + event.currentTarget.dataset.path;
                window.navigator.clipboard.writeText(url).then(() => {
                    alert("다운로드 링크가 복사되었습니다.");
                }).catch(() => {
                    prompt("아래의 텍스트를 복사해주세요.", url);
                });
            });
        })
    </script>
{% endblock %}